name: Generate Profile Summary Cards

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:
  push:
    branches:
      - main
      - master

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - name: Generate Cards
        uses: vn7n24fzkq/github-profile-summary-cards@release
        with:
          USERNAME: YDIB11
          BRANCH_NAME: main
          UTC_OFFSET: 1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
